body {
  background-image: url('https://images4.alphacoders.com/749/thumb-1920-74984.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 16px;
  margin-bottom: 20px;
  background: linear-gradient(45deg, rgba(59, 89, 152, 0.8), rgba(0, 119, 181, 0.8), rgba(205, 32, 31, 0.8));
  backdrop-filter: blur(5px);
  border: none;
  width: 80%;
  height: 100%;
  cursor: pointer;
  color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  color: #fff;
  box-shadow: 0 10px 20px rgb(0, 0, 0);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-header{
  padding-left: 30px;
}
.sidebar.open {
  left: 0;
}

.sidebar .nav-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  color: #cccccc;
  transition: all 0.3s ease-in-out;
}

.sidebar .nav-link:hover {
  color: #ffffff;
  transform: translateX(5px);
}

.sidebar .nav-link.active {
  background-color: #495057;
  color: #ffffff;
}

.toggler {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  color: #fff;
  padding: 10px;
  border-radius:16%;
  cursor: pointer;
  z-index: 1001;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-pill {
  border-radius: 1.5rem;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.container-fluid {
  padding: 20px;
}

.nav-link {
  color: #adb5bd;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #00458a;
  color: #fff;
}

.nav-link.active {
  background-color: #495057;
  color: #ffffff;
}

.card .card-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
}

.card .card-title svg {
  margin-right: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0;
  color: #cccccc;
}

.card .badge {
  font-size: 0.9em;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0.2rem;
  width: 1.25rem;
  height: 1.25rem;
}

.card-custom {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.card-custom .card-body {
  padding: 1rem;
  background: linear-gradient(135deg, rgba(59, 89, 152, 0.8), rgba(0, 119, 181, 0.8), rgba(205, 32, 31, 0.8));
  border-radius: 0.5rem;
}

.card-custom .card-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-custom .card-text {
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.card-custom .badge {
  font-size: 0.9rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}