/* styles.css */
body {
  background-image: url('https://wallpapers.com/images/hd/blue-aesthetic-cloud-and-ocean-xy4hfu54ho7vjkus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

.card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 16px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.619); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sidebar {
  color: #fff;
  box-shadow: 0 10px 20px rgb(0, 0, 0);
  min-height: 100vh;
  padding: 1rem;
}

.sidebar .nav-link {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.sidebar .nav-link:hover {
  color: #ffc107;
  transform: translateX(5px);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-pill {
  border-radius: 1.5rem;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.container-fluid {
  padding: 20px;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #212529;
}

.nav-link {
  color: #adb5bd;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #495057;
  color: #fff;
}

.nav-link.active {
  background-color: #495057;
  color: #fff;
}

.card .card-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem; /* Adjust font size */
}

.card .card-title svg {
  margin-right: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  font-size: 1rem; /* Adjust font size */
  margin-bottom: 0;
}

.card .badge {
  font-size: 0.9em;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0.2rem;
  width: 1.25rem;
  height: 1.25rem;
}

.card-custom {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-custom .card-body {
  padding: 2rem;
}

.card-custom .card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-custom .card-text {
  font-size: 1.25rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-custom .badge {
  font-size: 1rem;
  font-weight: 600;
}
